**/.DS_Store
**/target/
**/.idea/
**/*.iml
**/.mvn/
eLearning/src/main/.DS_Store
Web Crawler/crawlerData/
eLearning/src/main/.DS_Store
eLearning/src/main/java/.DS_Store
eLearning/src/main/java/com/.DS_Store
eLearning/src/main/java/com/example/.DS_Store
