<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <hostName>elearningplatform-rdb.cfiylxzjjqxv.us-east-2.rds.amazonaws.com</hostName>
    <databaseName>eLearningDB</databaseName>
    <userName>eLearning</userName>
    <password>eLearning</password>
    <tableName>course2</tableName>
<!--    <hostName>localhost</hostName>-->
<!--    <databaseName>yimuyang</databaseName>-->
<!--    <userName>root</userName>-->
<!--    <password>678678abc</password>-->
<!--    <tableName>course3</tableName>-->
</configuration>
