<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>registration/login</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="application/javascript" src="https://unpkg.com/react@16.0.0/umd/react.production.min.js"></script>
        <script type="application/javascript" src="https://unpkg.com/react-dom@16.0.0/umd/react-dom.production.min.js"></script>
        <script type="application/javascript" src="https://unpkg.com/babel-standalone@6.26.0/babel.js"></script>
    </head>

    <body>

        <p>Registration</p>
        <form action="/register" method="post">
            <div class="container">
                <label for="uname1"><b>Username</b></label>
                <input id="uname1" type="text" placeholder="Enter Username" name="user_name" required>
                <label for="password1"><b>Password</b></label>
                <input id="password1" type="password" placeholder="Enter Password" name="password" required>
                <button type="submit">Register</button>
            </div>
        </form><br>

        <p>Login</p>
        <form action="/login" method="post">
            <div class="container">
                <label for="uname2"><b>Username</b></label>
                <input id="uname2" type="text" placeholder="Enter Username" name="user_name" required>
                <label for="password2"><b>Password</b></label>
                <input id="password2" type="password" placeholder="Enter Password" name="password" required>
                <button type="submit">Login</button>
            </div>
        </form><br>

    </body>
</html>